#menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    top: 110px;
    right: 110px;
    z-index: 10;
}

.menu--logo {
    display: flex;
    width: 220px;
    height: 80px;
    background-image: url("../media/img/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.menu--nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    font-family: "futuraBook";
    font-size: 18px;
}

.menu--nav a {
    margin: 5px 0;
    padding: 2px 6px;
    transition: 0.12s ease-in;
}

.menu--nav a:hover {
    background-color: $darkblue;
    color: $white;
}