#menu {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  width: 12rem;
  height: 10rem;
  position: fixed;
  top: 110px;
  right: 110px;
  z-index: 10;
}

.menu--nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  font-family: "futuraBook", "Arial", sans-serif;
  font-size: 18px;
}

.menu--nav .nav--btn {
  position: relative;
  width: auto;
  margin: 5px 0;
  padding: 0px 2px 0px 10px;
  transition: 0.12s ease-in;
  overflow: hidden;
}

.menu--nav .nav--btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: -150%;
  background: $darkblue;
  height: 100%;
  width: 119%;
  transform: skew(12deg);
  z-index: -1;
  transition: cubic-bezier(0.65, 0.01, 0.46, 1) 0.2s;
}

.menu--nav .nav--btn:hover {
  color: $white;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.menu--nav .nav--btn:hover::after {
    right: -16px;
}