$darkblue: #040505;
$white: #FFF;
$cream: #f2f2f2;
$blue: #006DC1;
@font-face {
    font-family: futuraBook;
    src: url(../media/fonts/FuturaBook.ttf);
}

@font-face {
    font-family: futuraHeavy;
    src: url(../media/fonts/FuturaHeavy.ttf);
}

@font-face {
    font-family: futuraExtraBlack;
    src: url(../media/fonts/FuturaExtraBlack.ttf);
}